Source: u1db-qt
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               cmake (>= 2.8.6),
               qtdeclarative5-dev,
               qtbase5-dev,
               dbus-test-runner,
               qt5-default,
               qtdeclarative5-test-plugin,
               qtdeclarative5-qtquick2-plugin,
               libqt5sql5-sqlite,
               qttools5-dev-tools,
               ubuntu-ui-toolkit-doc,
               qtdeclarative5-dev-tools
Standards-Version: 3.9.3
Homepage: https://launchpad.net/u1db-qt
Vcs-Bzr: https://code.launchpad.net/u1db-qt/trunk

Package: libu1db-qt5-1
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         qtdeclarative5-qtquick2-plugin,
         libqt5sql5-sqlite
Description: Qt5 binding and QtQuick2 plugin for U1DB - shared library
 Simple Qt5 binding and QtQuick2 plugin for U1DB (https://launchpad.net/u1db).

Package: libu1db-qt5-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libu1db-qt5-1 (= ${binary:Version}),
         qtdeclarative5-dev,
         qtbase5-dev
Description: Qt5 binding and QtQuick2 plugin for U1DB - development files
 Simple Qt5 binding and QtQuick2 plugin for U1DB (https://launchpad.net/u1db).
 .
 This package contains the developer headers for the Qt binding for U1DB

Package: libu1db-qt5-examples
Section: doc
Architecture: all
Depends: ${misc:Depends},
         libu1db-qt5-1 (= ${binary:Version})
Description: Qt5 binding and QtQuick2 plugin for U1DB - examples
 Simple Qt5 binding and QtQuick2 plugin for U1DB (https://launchpad.net/u1db).
 .
 This package contains the examples demonstrating the use of the Qt binding for U1DB

Package: libu1db-qt5-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
         libu1db-qt5-1 (= ${binary:Version}),
         qttools5-dev-tools
Description: Qt5 binding and QtQuick2 plugin for U1DB - offline documentation
 Simple Qt5 binding and QtQuick2 plugin for U1DB (https://launchpad.net/u1db).
 .
 This package contains the offline documentation for the Qt binding for U1DB

