Source: u1db-qt
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake (>= 2.8.6),
               dbus-test-runner,
               debhelper (>= 9),
               devscripts,
               libqt5sql5-sqlite,
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qtdeclarative5-qtquick2-plugin,
               qtdeclarative5-test-plugin,
               qttools5-dev-tools,
               ubuntu-ui-toolkit-doc,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/u1db-qt
Vcs-Bzr: https://code.launchpad.net/u1db-qt/trunk

Package: libu1db-qt5-3
Architecture: any
Multi-Arch: same
Pre-Depends: dpkg (>= 1.15.6~),
             ${misc:Pre-Depends},
Depends: libqt5sql5-sqlite,
         qtdeclarative5-qtquick2-plugin,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Qt5 binding for U1DB - shared library
 Simple Qt5 binding and QtQuick2 plugin for U1DB (https://launchpad.net/u1db).
 .
 This package contains the shared library.

Package: qtdeclarative5-u1db1.0
Architecture: any
Multi-Arch: same
Pre-Depends: dpkg (>= 1.15.6~),
             ${misc:Pre-Depends},
Depends: libqt5sql5-sqlite,
         qtdeclarative5-qtquick2-plugin,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Qt5 binding for U1DB - QtQuick2 QML plugin
 Simple Qt5 binding and QtQuick2 plugin for U1DB (https://launchpad.net/u1db).
 .
 This package contains the QML plugin.

Package: libu1db-qt5-dev
Section: libdevel
Architecture: any
Depends: libu1db-qt5-3 (= ${binary:Version}),
         qtbase5-dev,
         qtdeclarative5-dev,
         ${misc:Depends},
Description: Qt5 binding and QtQuick2 plugin for U1DB - development files
 Simple Qt5 binding and QtQuick2 plugin for U1DB (https://launchpad.net/u1db).
 .
 This package contains the developer headers for the Qt binding for U1DB

Package: libu1db-qt5-examples
Section: doc
Architecture: all
Depends: libu1db-qt5-3 (>= ${source:Version}),
         ${misc:Depends},
Description: Qt5 binding and QtQuick2 plugin for U1DB - examples
 Simple Qt5 binding and QtQuick2 plugin for U1DB (https://launchpad.net/u1db).
 .
 This package contains examples showcasing the use of the Qt binding for U1DB

Package: libu1db-qt5-doc
Section: doc
Architecture: all
Depends: libu1db-qt5-3 (>= ${source:Version}),
         qttools5-dev-tools,
         ${misc:Depends},
Description: Qt5 binding and QtQuick2 plugin for U1DB - offline documentation
 Simple Qt5 binding and QtQuick2 plugin for U1DB (https://launchpad.net/u1db).
 .
 This package contains the offline documentation for the Qt binding for U1DB
