#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DBUILD_DOCS=ON

override_dh_auto_build:
	dh_auto_build

override_dh_auto_clean:
	dh_auto_clean

override_dh_auto_test:
	dh_auto_test

override_dh_auto_install:
	dh_auto_install

override_dh_install:
	dh_install --fail-missing

override_dh_makeshlibs:
	dh_makeshlibs -V
