#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@ --parallel

override_dh_auto_configure:
	PATH=/opt/qt5/bin:$(PATH) \
	dh_auto_configure -- -DCMAKE_MODULE_PATH=/opt/qt5/lib/cmake \
	    -DLD_LIBRARY_PATH=/opt/qt5/lib:$(LD_LIBRARY_PATH) \
	    -DWITHQT5=1

override_dh_auto_build:
	dh_auto_build

override_dh_auto_clean:
	dh_auto_clean

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install -Bbuild/qt5

override_dh_install:
	dh_install --fail-missing

override_dh_makeshlibs:
	dh_makeshlibs -V
